<div class="container">
  <h1>View Staff Details</h1>

  <div><label><b>Employee Code: </b></label>{{staff.employeeCode}}</div>
  <div><label><b>Employee Name: </b></label>{{staff.employeeName}}</div>
  <div><label><b>Role: </b></label>{{staff.role}}</div>
  <div><label><b>Email: </b></label>{{staff.email}}</div>
  <div><label><b>Age: </b></label>{{staff.age}}</div>
  <div><label><b>Pan Card: </b></label>{{staff.panCard}}</div>
  <div><label><b>Salary: </b></label>{{staff.salary}}</div>
  <div><label><b>Address: </b></label>{{staff.employeeAddress}}</div>

  <button mat-raised-button color="primary" routerLink="/staff/list">Back</button>
</div>
