<img src='assets/home_title.jpg' height="250px" width="100%"/>

<div class="container">

  <div class="card" style="width: 20%">
    <img src="assets/guest-management.jpg" class="card-img-top"/>
    <div class="card-body">
      <h1 class="card-title">Guest Management</h1>
      <!-- <p class="card-text"></p> -->
      <a href="/guest/list" class="btn btn-primary">Enter</a>
    </div>
  </div>

  <div class="card" style="width: 20%">
    <img src="assets/staff-management.jpeg" class="card-img-top"/>
    <div class="card-body">
      <h1 class="card-title">Staff Management</h1>
      <!-- <p class="card-text"></p> -->
      <a href="/staff/list" class="btn btn-primary">Enter</a>
    </div>
  </div>

  <div class="card" style="width: 20%">
    <img src="assets/reservation-management.webp" class="card-img-top"/>
    <div class="card-body">
      <h1 class="card-title">Reservation Management</h1>
      <!-- <p class="card-text"></p> -->
      <a href="/reservation/list" class="btn btn-primary">Reservation</a>
      <a href="/reservation/room/list" class="btn btn-primary" style="margin-left: 10px;">Room</a>
    </div>
  </div>

  <div class="card" style="width: 20%">
    <img src="assets/inventory-management.jpg" class="card-img-top"/>
    <div class="card-body">
      <h1 class="card-title">Inventory Management</h1>
      <!-- <p class="card-text"></p> -->
      <a href="/inventory/category/list" class="btn btn-primary">Category</a>
      <a href="/inventory/product/list" class="btn btn-primary" style="margin: 10px;">Product</a>
    </div>
  </div>

</div>
