<div>
  <!-- Footer -->
  <footer
    class="text-center text-lg-start text-white"
    style="background-color: #45526e"
  >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h2 class="text-uppercase mb-4 font-weight-bold">
              Hotel Management
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              nobis illo fugiat voluptas exercitationem beatae magnam vitae hic
              quisquam rem consequatur repudiandae commodi suscipit recusandae
              placeat, impedit corporis? Reprehenderit, perspiciatis.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h2 class="text-uppercase mb-4 font-weight-bold">Useful links</h2>
            <p>
              <a class="text-white">Facebook</a>
            </p>
            <p>
              <a class="text-white">Twitter</a>
            </p>
            <p>
              <a class="text-white">Instagram</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h2 class="text-uppercase mb-4 font-weight-bold">Contact</h2>
            <p><i class="fas fa-home mr-3"></i> Bangalore, India</p>
            <p><i class="fas fa-envelope mr-3"></i> hotel@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 89</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3" />

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">© 2022 Copyright</div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
