<div class="container">
  <h1>View Guest Details</h1>

  <div><label><b>Member Code: </b></label>{{guest.memberCode}}</div>
  <div><label><b>Name: </b></label>{{guest.name}}</div>
  <div><label><b>Gender: </b></label>{{guest.gender}}</div>
  <div><label><b>Phone Number: </b></label>{{guest.phoneNumber}}</div>
  <div><label><b>Company: </b></label>{{guest.company}}</div>
  <div><label><b>Email: </b></label>{{guest.email}}</div>
  <div><label><b>Address: </b></label>{{guest.address}}</div>

  <button mat-raised-button color="primary" routerLink="/guest/list">Back</button>
</div>
